/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 10;
}

header {
  background-color: #93d0f4;
  text-align: center
}



/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    line-height: 1.6;
    padding: 20px;
    
}

footer {
  background-color: #93d0f4;
}
/* Add in your own customisations */