/* Resetting default margin and padding for all elements */
* {
    margin: 0;
    padding: 0;
}

/* Body styling */
body {
    font-family: Arial, sans-serif;
    background-color: #93d0f4;
    color: #333;
    line-height: 1.6;
    padding: 10px;
}

/* Add in your own customisations */